.navbar-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-image: url("https://i.ibb.co/ZSbG7rb/circle-scatter-haikei.png");
    position: sticky;
    top: 0;
    color: #fff;
}
.appname{
    margin-left: 2%;
}
Button{
    margin-top: 0;
}
@media(max-width:1000px){
    .navbar-div{
        font-size: 10px;
    }
    Button{
        width: 100%;
        border-radius: 40px;
        font-size: 15px;
    }
    .user-display{
        display: none;
    }
}