.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-container{
    position: relative;
    padding: 32px;
    width: 50%;
    background-image: url("https://i.ibb.co/ZSbG7rb/circle-scatter-haikei.png");
    height: 34vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    color: #fff;
}
@media(max-width:1000px){
    .popup-container{
        height: 40%;
        width: 60%;
    }
}