.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    background-image: url('https://i.ibb.co/ZSbG7rb/circle-scatter-haikei.png');

}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 23rem;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}
.login-h1{
    width: 70%;
}
.form-div{
    text-align: start;
    margin-top: 10%;
    font-size: 20px;
    font-weight: 500;
    margin-top: -0.4rem;
    color: #000;
}
.span-div{
    margin-top: 1rem;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 20px;
}
.login-input{
    height: 2rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 13px;
    outline: none;
    border: none;
    color: #000000;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.5),
      inset 3px 3px 5px rgba(94, 104, 121, 0.4);
}
h3{
    font-size: 18px;
    text-align: center;
}
input{
    margin-bottom: 1rem;
}

@media (max-width:1000px){
    .main-div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .login-container{
        width: 80%;
        height: 90%;
    }
    .form-div{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h3{
        font-size: 13px;
    }
    h1{
        font-size: 18px;
        padding-bottom: 10%;
    }
}